<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content Type" content="text/html" charset="UTF-8">
<title>Booklist</title>
</head>
<body>
	<h1>Books</h1>
	<table>
		<tr>
			<th>Author</th>
			<th>Title</th>
			<th>ISBN</th>
			<th>Year</th>
		</tr>
		<tr th:each="b : ${books}">
			<td th:text="${b.author}">Author</td>
			<td th:text="${b.title}">Title</td>
			<td th:text="${b.isbn}">ISBN</td>
			<td th:text="${b.year}">Year</td>
			<td><a th:href="@{./delete/{id}(id=${b.id})}">Delete</a></td>
			<td><a th:href="@{./edit/{id}(id=${b.id})}">Edit</a></td>
		</tr>
	</table>
	<a href="./addbook" class="btn btn-primary">Add book</a>
</body>
</html>